<form [formGroup]="createForm" (ngSubmit)="createOrganization()">
  	<div class="w-100">
		<div class="form-group">
			<label for="#organizationName" class="form-label">Tên tổ chức</label>
			<input 	#organizationName
					formControlName="organizationName" type="text"
					class="form-control" placeholder="Nhập tên tổ chức">
		</div>
		<div class="form-row">
			<div class="form-group col">
				<label for="#organizationPhoneNumber">Số điện thoại</label>
				<input	#organizationPhoneNumber
						formControlName="organizationPhoneNumber"
						type="tel" class="form-control" 
						placeholder="Nhập số điện thoại">
			</div>
			<div class="form-group col">
				<label for="#organizationEmail">Email</label>
				<input	#organizationEmail formControlName="organizationEmail"
						type="email" class="form-control"
						placeholder="Nhập email">
			</div>
		</div>
		<div class="form-group">
			<label for="#organizationAddress">Địa chỉ</label>
			<input 	#organizationAddress formControlName="organizationAddress" 
					type="text" class="form-control"
					placeholder="Nhập địa chỉ">
		</div>
	</div>
	<div class="w-100">
		<div class="form-row">
			<div class="form-group col">
					<label class="#personContact">Tên người liên hệ</label>
					<input 	#personContact formControlName="personContact"
							type="text" class="form-control" 
							placeholder="Tên người liên hệ">
			</div>
			<div class="form-group col">
					<label for="#emailContact">Email của người liên hệ</label>
					<input 	#emailContact formControlName="emailContact"
							type="email" class="form-control"
							placeholder="Nhập email" pattern="(^[\w])+([\w._])*\@([\w{2,}\-])+(\.[\w]{2,4})$">
			</div>
		</div>
		<div class="form-group">
			<label for="#phoneContact">Số điện thoại của người liên hệ</label>
			<input 	#phoneContact formControlName="phoneContact"
					type="tel" class="form-control"
					placeholder="Nhập số điện thoại">
		</div>
		<div class="mt-2 d-flex justify-content-end">
			<button type="submit" class="btn btn-primary">Khởi tạo</button>
			<a (click)="resetForm()" class="btn btn-warning ml-2">Thiết lập lại</a>
		</div>
	</div>
</form>
