<form *ngIf="$customer | async" [formGroup] = "formModify" (ngSubmit)="updateCustomerInfo()">
    <div class="form-row">
        <div class="form-group col-6">
            <label for="#lastName">Họ</label>
            <input  [class.is-invalid]='formModify.get("lastName").errors && formModify.get("lastName").touched'
                    type="text" class="form-control" 
                    formControlName="lastName"

                    #lastName [attr.disabled]="!update ? true : null">
            <div class="invalid-feedback">Họ của bệnh nhân không được để trống</div>
        </div>
        <div class="form-group col-6">
            <label for="#firstName">Tên</label>
            <input  [class.is-invalid]='formModify.get("firstName").errors && formModify.get("firstName").touched'
                    type="text" class="form-control" 
                    formControlName="firstName"

                    #firstName [attr.disabled]="!update ? true : null">
            <div class="invalid-feedback">Tên của bệnh nhân không được để trống</div>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label for="#gender" class="mr-2 w-100" >Giới tính:</label>
            <mat-radio-group
                class="example-radio-group"
                formControlName="gender" #gender>
                <mat-radio-button class="mr-2" value=1 [checked]="customer.gender == 1">
                    Nam
                </mat-radio-button>
                <mat-radio-button value=0 [checked]="customer.gender == 0">
                    Nữ
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-group col-3">
            <label for="#dateOfBirth" class="control-label p-0" >Ngày sinh</label>

            <input [class.is-invalid]='formModify.get("dateOfBirth").errors && formModify.get("dateOfBirth").touched'
                    class="form-control" formControlName="dateOfBirth" type="date"
                    #dateOfBirth [attr.disabled]="!update ? true : null">
            <div class="invalid-feedback">Ngày sinh của bệnh nhân không được để trống</div>


        </div>   
        <div class="form-group col-6">
            <label for="#identityNumber">Số CMND/Hộ chiếu</label>
            <input   [class.is-invalid]='formModify.get("identityNumber").errors && formModify.get("identityNumber").touched'
                    type="text" class="form-control" 
                    formControlName="identityNumber"
                    (input)="$event.target.value = $event.target.value.toUpperCase()"
                    #identityNumber [attr.disabled]="!update ? true : null">
            <div class="invalid-feedback">Số CMND/Hộ chiếu của bệnh nhân không được để trống</div>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label for="#dateOfIssuanceIdentityNumber">Cấp ngày</label>
            <input  [class.is-invalid]='formModify.get("dateOfIssuanceIdentityNumber").errors && formModify.get("dateOfIssuanceIdentityNumber").touched'
                    type="date" class="form-control" 
                    formControlName="dateOfIssuanceIdentityNumber"
                    #dateOfIssuanceIdentityNumber [attr.disabled]="!update ? true : null">
            <div class="invalid-feedback">Cấp ngày của bệnh nhân không được để trống</div>

        </div>
        <div class="form-group col-5">
            <label for="#placeOfIssuanceIdentityNumber">Nơi cấp</label>
            <input  [class.is-invalid]='formModify.get("placeOfIssuanceIdentityNumber").errors && formModify.get("placeOfIssuanceIdentityNumber").touched'
                    type="text" class="form-control" 
                    formControlName="placeOfIssuanceIdentityNumber"
                    #placeOfIssuanceIdentityNumber [attr.disabled]="!update ? true : null">
            <div class="invalid-feedback">Nơi cấp của bệnh nhân không được để trống</div>

        </div>
        <div class="form-group col-4">
            <label for="#phoneNumber">Điện thoại</label>
            <input  [class.is-invalid]='formModify.get("phoneNumber").errors && formModify.get("phoneNumber").touched'
                    type="text" class="form-control" 
                    formControlName="phoneNumber"
                    #phoneNumber [attr.disabled]="!update ? true : null">
            <div *ngIf="formModify.get('phoneNumber').hasError('required')"
                class="invalid-feedback">Điện thoại của bệnh nhân không được để trống</div>
            <div *ngIf="formModify.get('phoneNumber').hasError('minlength')"
                class="invalid-feedback">Số điện thoại tối thiểu là 10 số</div>
            <div *ngIf="formModify.get('phoneNumber').hasError('pattern')"
                class="invalid-feedback">Điền đúng số điện thoại</div>

        </div>
    </div>
    <div class="form-group">
        <label for="#address">Địa chỉ</label>
        <input  [class.is-invalid]='formModify.get("address").errors && formModify.get("address").touched'
                type="text" class="form-control" 
                formControlName="address"
                #address [attr.disabled]="!update ? true : null">
                

    </div>
    <div class="d-flex">
        <a  class="btn btn-primary"          
            (click)="openUpdate()"
            *ngIf="!update">Chỉnh sửa</a>
        <button class="btn btn-primary" type="submit"
                *ngIf="update">Xác nhận</button>
        <a class="btn btn-warning ml-2"
        (click)="back()"
        *ngIf="update">Trở Lại</a>
        </div>
</form>
    <hr>
    <strong >lịch sử khám bệnh</strong>

    <form class="mt-2">
    <div class="row">
        <div class="col-2 border">
            <div class="list-group">
                <h6>Đợt khám</h6>
                <ul>
                    <li>bla bla</li>
                </ul>
            </div>
        </div>
        <div class="col-3 border">
            <div class="list-group">
                <h6>Lý do khám bệnh</h6>

            </div>
        </div>
        <div class="col-7 border">
            <div class="list-group">
                <h6>Danh sách dịch vụ</h6>

            </div>
        </div>
    </div>
</form>
<ngx-spinner
	fullScreen = false
	color = "#fff"
	type = "ball-clip-rotate">
</ngx-spinner>