<form >
    <div class="form-row">
        <div class="form-group col-6">
            <label for="#lastName">Họ</label>
            <input  type="text" class="form-control" 
                    formControlName="lastName"
                    #lastName>
        </div>
        <div class="form-group col-6">
            <label for="#firstName">Tên</label>
            <input  type="text" class="form-control" 
                    formControlName="firstName"
                    #firstName>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label for="#gender" class="mr-2 w-100" >Giới tính:</label>
            <mat-radio-group
                class="example-radio-group"
                formControlName="gender" #gender>
                <mat-radio-button class="mr-2" value=1>
                    Nam
                </mat-radio-button>
                <mat-radio-button value=0>
                    Nữ
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-group col-3">
            <label for="#dateOfBirth" class="control-label p-0" >Ngày sinh</label>
            <input #dateOfBirth class="form-control" formControlName="dateOfBirth" type="date">
        </div>   
        <div class="form-group col-6">
            <label for="#identityNumber">Số CMND/Hộ chiếu</label>
            <input  type="text" class="form-control" 
                    formControlName="identityNumber"
                    (input)="$event.target.value = $event.target.value.toUpperCase()"
                    #identityNumber>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label for="#dateOfIssuanceIdentityNumber">Cấp ngày</label>
            <input  type="date" class="form-control" 
                    formControlName="dateOfIssuanceIdentityNumber"
                    #dateOfIssuanceIdentityNumber>
        </div>
        <div class="form-group col-5">
            <label for="#placeOfIssuanceIdentityNumber">Nơi cấp</label>
            <input  type="text" class="form-control" 
                    formControlName="placeOfIssuanceIdentityNumber"
                    #placeOfIssuanceIdentityNumber>
        </div>
        <div class="form-group col-4">
            <label for="#phoneNumber">Điện thoại</label>
            <input  type="text" class="form-control" 
                    formControlName="phoneNumber"
                    #phoneNumber>
        </div>
    </div>
    <div class="form-group">
        <label for="#adress">Địa chỉ</label>
        <input  type="text" class="form-control" 
                formControlName="adress"
                #adress>
    </div>

    <hr>
    <strong >lịch sử khám bệnh</strong>
    </form>
    <form class="mt-2">
    <div class="row">
        <div class="col-2 border">
            <div class="list-group">
                <h6>Đợt khám</h6>
                <ul>
                    <li>bla bla</li>
                </ul>
            </div>
        </div>
        <div class="col-3 border">
            <div class="list-group">
                <h6>Lý do khám bệnh</h6>

            </div>
        </div>
        <div class="col-7 border">
            <div class="list-group">
                <h6>Danh sách dịch vụ</h6>

            </div>
        </div>
    </div>
</form>