<div class="row">
  <div class="col-3">
      <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Tạo thông tin bệnh nhân</a>
          <a href="#" class="list-group-item list-group-item-action">Tạo bệnh án mới</a>
          <a href="#" class="list-group-item list-group-item-action">Điều chỉnh giá dịch vụ</a>
          <a href="#" class="list-group-item list-group-item-action">Danh sách tổ chức</a>
        </div>
  </div>
  <div class="col-9 border">
    <router-outlet></router-outlet>
</div>
