<div class="d-flex">
    <div class="col-3 p-0 mr-2">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Tạo thông tin bệnh nhân</a>
            <a href="#" class="list-group-item list-group-item-action">Tạo bệnh án mới</a>
            <a href="#" class="list-group-item list-group-item-action">Điều chỉnh giá dịch vụ</a>
            <a href="#" class="list-group-item list-group-item-action">Danh sách tổ chức</a>
        </div>
    </div>
    <div class="w-100 p-0 border ml-2">
      <router-outlet></router-outlet>
    </div>
</div>
