<div class="row">
	<div class="col-12 d-flex justify-content-between">
		<div class="mt-1">
			<a [routerLink]="createOrganizationPath"
				class="btn btn-primary"><i class="fas fa-plus"></i></a>
		</div>
		<div class="mt-1">
			<div class="input-group">
				<input (change)="SearchOrganization($event.target.value)" class="form-control py-2" placeholder="search" type="search" value="" id="example-search-input">
				<span class="input-group-append">
					<button class="btn btn-outline-secondary" type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
	<div class="col-12 mt-3">
		<table class="table table-bordered table-hove">
			<thead class="thead-light text-center">
				<tr>
					<th>STT</th>
					<th>Tên tổ chức</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let org of organizations; let idx = index">
					<td style="width: 10px">{{idx + 1}}</td>
					<td>{{org.organizationName}}</td>
					<td class="text-center" style="width: 120px;">
						<a (click)="GetDetailsOrganization(org.organizationId)"
							class="btn btn-primary p-1">
							Chi tiết
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<ngx-spinner
    fullScreen = false
    color = "#fff"
    type = "ball-clip-rotate"
></ngx-spinner>
