<div *ngIf="medicalRecord != null">
  <label for="neurologyExamination">Chẩn đoán thần kinh</label>
  <form [formGroup]="updateForm" #neurologyExamination (ngSubmit)="onSubmit()">
    <div class="form-group mt-3">
      <label for="neurosurgery">neurosurgery</label>
      <textarea #neurosurgery class="form-control" rows="3" formControlName="neurosurgery"></textarea>
    </div>
    <div class="form-group mt-3">
      <label for="neurosurgeryLevel">neurosurgery level</label>
      <input type="number" #neurosurgeryLevel class="form-control" formControlName="neurosurgeryLevel">
    </div>

    <div class="form-group mt-3">
      <label for="psychiatry">psychiatry</label>
      <textarea #psychiatry class="form-control" rows="3" formControlName="psychiatry"></textarea>
    </div>
    <div class="form-group mt-3">
      <label for="psychiatryLevel">psychiatry level</label>
      <input type="number" #psychiatryLevel class="form-control" formControlName="psychiatryLevel">
    </div>
    <div class=" mt-2 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary mb-5 ">Ghi nội dung</button>
    </div>
  </form>
</div>

<div *ngIf="medicalRecord == null" class="text-center">
  <h1 class="text-center mt-5 btn btn-info">Xin mời chọn bệnh án</h1>
</div>

<ngx-spinner fullScreen=false color="#fff" type="ball-clip-rotate">
</ngx-spinner>
