<div *ngIf="medicalRecord != null" class="p-2">
	<label for="neurologyExamination" class="btn btn-info">Chẩn đoán thần kinh</label>
	<form [formGroup]="updateForm" #neurologyExamination (ngSubmit)="onSubmit()"
		*ngIf="medicalRecord.details.neurologyExamination.isRegistered">
		<div class="form-group">
			<label for="neurosurgery">Thần kinh</label>
			<textarea #neurosurgery class="form-control" rows="2" formControlName="neurosurgery"
			[class.is-invalid]="(isError('neurosurgery') && isTouched('neurosurgery'))
                    || (isError('neurosurgery') && showErrors)"></textarea>
			<span class="invalid-feedback d-block" *ngIf="(isError('neurosurgery') && isTouched('neurosurgery'))
            || (showErrors && isError('neurosurgery'))">Không được để trống</span>
		</div>
		<div class="form-group">
			<label for="neurosurgeryLevel">Phân loại</label>
			<input type="number" min="1" #neurosurgeryLevel class="form-control" formControlName="neurosurgeryLevel">
			<span class="invalid-feedback d-block" *ngIf="(hasError('neurosurgeryLevel', 'required') && isTouched('neurosurgeryLevel'))
			|| (showErrors && hasError('neurosurgeryLevel', 'required'))">Không được để trống</span>
		  <span class="invalid-feedback d-block" *ngIf="(hasError('neurosurgeryLevel', 'min') && isTouched('neurosurgeryLevel'))
			|| (showErrors && hasError('neurosurgeryLevel', 'min'))">Giá trị nhập không được nhỏ hơn 1</span>
		</div>
		<div class="form-group">
			<label for="psychiatry">Tâm thần</label>
			<textarea #psychiatry class="form-control" rows="2" formControlName="psychiatry"></textarea>
			<span class="invalid-feedback d-block" *ngIf="(isError('psychiatry') && isTouched('psychiatry'))
            || (showErrors && isError('psychiatry'))">Không được để trống</span>
		</div>
		<div class="form-group">
			<label for="psychiatryLevel">Phân loại</label>
			<input type="number" min="1" #psychiatryLevel class="form-control" formControlName="psychiatryLevel">
			<span class="invalid-feedback d-block" *ngIf="(hasError('psychiatryLevel', 'required') && isTouched('psychiatryLevel'))
			|| (showErrors && hasError('psychiatryLevel', 'required'))">Không được để trống</span>
		  <span class="invalid-feedback d-block" *ngIf="(hasError('psychiatryLevel', 'min') && isTouched('psychiatryLevel'))
			|| (showErrors && hasError('psychiatryLevel', 'min'))">Giá trị nhập không được nhỏ hơn 1</span>
		</div>
		<div class=" mt-2 d-flex justify-content-end">
			<button type="submit" class="btn btn-primary mb-5 ">Ghi nội dung</button>
		</div>
	</form>
	<div *ngIf="!this.medicalRecord.details.neurologyExamination.isRegistered" class="text-center">
		<h3 class="btn btn-warning">Bệnh nhân không đăng ký khám dịch vụ này</h3>
	</div>
</div>

<div *ngIf="medicalRecord == null" class="text-center">
	<h1 class="text-center mt-5 btn btn-info">Xin mời chọn bệnh án</h1>
</div>

<ngx-spinner fullScreen=false color="#fff" type="ball-clip-rotate">
</ngx-spinner>