<form *ngIf="$organization | async" [formGroup] = "formModify" (ngSubmit)="updateOrganizationInfo()">
    <div class="form-group">
        <label for="#organizationName">Tên tổ chức:</label>
        <input  [class.is-invalid]="(isError('organizationName') && isTouched('organizationName'))
                || (showErrors && isError('organizationName'))"
                type="text" class="form-control" 
                formControlName="organizationName"
                #organizationName [attr.disabled]="!update ? true : null">
        <div class="invalid-feedback d-block" 
            *ngIf="(isError('organizationName') && isTouched('organizationName'))
            || (showErrors && isError('organizationName'))">Tên tổ chức không được để trống</div>	
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="#organizationPhoneNumber">Số điện thoại</label>
            <input  type="text" class="form-control" 
                    formControlName="organizationPhoneNumber"
                    #organizationPhoneNumber [attr.disabled]="!update ? true : null">
        </div>
        <div class="form-group col-6">
            <label for="#organizationEmail">Email</label>
            <input  type="text" class="form-control" 
                    formControlName="organizationEmail"
                    #organizationEmail [attr.disabled]="!update ? true : null">
        </div>
    </div>
    <div class="form-group">
        <label for="#organizationAddress">Địa chỉ</label>
        <input  [class.is-invalid]="formModify.get('organizationAddress').errors && formModify.get('organizationAddress').touched"
                type="text" class="form-control" 
                formControlName="organizationAddress"
                #organizationAddress [attr.disabled]="!update ? true : null">
        <div *ngIf="formModify.get('organizationAddress').hasError('required')"
                class="invalid-feedback d-block">Địa chỉ tổ chức không được để trống</div>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="#personContact">Người liên hệ</label>
            <input  [class.is-invalid]="formModify.get('personContact').errors && formModify.get('personContact').touched"
                    type="text" class="form-control" 
                    formControlName="personContact"
                    #personContact [attr.disabled]="!update ? true : null">
            <div class="invalid-feedback d-block">Tên người liên hệ không được để trống</div>	
        </div>
        <div class="form-group col-6">
            <label for="#emailContact">Email người liên hệ</label>
            <input  [class.is-invalid]="formModify.get('emailContact').errors && formModify.get('emailContact').touched"
                    type="text" class="form-control" 
                    formControlName="emailContact"
                    #emailContact [attr.disabled]="!update ? true : null">
            <div class="invalid-feedback d-block"
                >Email người liên hệ không được để trống</div>
        </div>
    </div>
    <div class="form-group">
        <label for="#phoneContact">Điện thoại liên hệ</label>
        <input  [class.is-invalid]="formModify.get('phoneContact').errors && formModify.get('phoneContact').touched"
                type="text" class="form-control" 
                formControlName="phoneContact"
                #phoneContact [attr.disabled]="!update ? true : null">
            <div *ngIf="formModify.get('phoneContact').hasError('required')"
                class="invalid-feedback d-block">Số điện thoại của người liên hệ</div>
            <div *ngIf="formModify.get('phoneContact').hasError('minlength')"
                class="invalid-feedback d-block">Điền đầy đủ số điện thoại</div>
            <div *ngIf="formModify.get('phoneContact').hasError('pattern')"
                class="invalid-feedback d-block">Điền đúng số điện thoại</div>
    </div>
    <div class="d-flex">
        <a  class="btn btn-primary"
            
            (click)="openUpdate()"
            *ngIf="!update">Chỉnh sửa</a>
        <button class="btn btn-primary" type="submit"
                *ngIf="update">Xác nhận</button>
        <a type="button" class="btn btn-info ml-2 mr-2">Xuất chi tiết đợt khám</a>
        <a type="submit" class="btn btn-success">Tạo đợt khám mới</a>
        </div>
    </form>
    <form class="mt-2">
    <div class="row">
        <div class="col-2 border">
            <div class="list-group">
                <h6>Đợt khám</h6>

                <ul>
                    <li>bla bla</li>
                </ul>
            </div>
        </div>
        <div class="col-3 border">
            <div class="list-group">
                <h6>Danh sách nhân viên</h6>
            </div>
        </div>
        <div class="col-7 border">
            <div class="list-group">
                <h6>Danh sách dịch vụ</h6>
            </div>
        </div>
    </div>
</form>
<ngx-spinner
    fullScreen = false
    color = "#fff"
    type = "ball-clip-rotate"
></ngx-spinner>
