<form>
  <div>
      <label>Tên tổ chức:</label>
      <input type="text" class="form-control" placeholder="Enter groupname" required>
  </div>
  <div class="form-row">
      <div class="col">
          <label>Sô điện thoại của tổ chức:</label>
          <input type="number" class="form-control" placeholder="Enter numberphone" required>
      </div>
      <div class="col">
          <label>Email của tổ chức:</label>
          <input type="email" class="form-control" placeholder="Enter email" required>
      </div>
  </div>
  <div>
      <label>Địa chỉ của tổ chức:</label>
      <input type="text" class="form-control" placeholder="Enter address" required>
  </div>
  <div class="form-row">
      <div class="col">
          <label>Tên người liên hệ của tổ chức:</label>
          <input type="text" class="form-control" placeholder="Enter person contact" required>
      </div>
      <div class="col">
          <label>Email của người liên hệ:</label>
          <input type="email" class="form-control" placeholder="Enter email" required>
      </div>
  </div>
  <div class="form-row">
      <div class="col">
          <label>Số điện thoại của người liên hệ:</label>
          <input type="number" class="form-control" placeholder="Enter numberphone" required>
      </div>
     <div class="col mt-4 ">
          <button type="button" class="btn btn-primary">Xuất chi tiết đợt khám</button>
          <button type="submit" class="btn btn-warning">Tạo đợt khám mới</button>

     </div>
  </div>
</form>
<form class="mt-2">
  <div class="row">
      <div class="col-2 border">
          <div class="list-group">
            <h6>Đợt khám</h6>

             <ul>
                 <li>bla bla</li>
             </ul>
          </div>
      </div>
      <div class="col-3 border">
          <div class="list-group">
            <h6>Danh sách nhân viên</h6>

           </div>
      </div>
      <div class="col-7 border">
          <div class="list-group">
            <h6>Danh sách dịch vụ</h6>

           </div>
      </div>
  </div>

</form>
