<div class="row">
	<div class="col-12">
		<div class="mt-1">
			<div class="input-group">
				<input (change)="seachMedicalService($event.target.value)" class="form-control py-2" placeholder="Tìm kiếm theo tên id phòng ban" type="search" value="" id="example-search-input">
				<span class="input-group-append">
					<button class="btn btn-outline-secondary" type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
	<div class="col-12 mt-3">
		<table class="table table-hover table-bordered table-striped">
			<thead class="thead-light">
					<tr class="text-center text-uppercase">
					<th class="p-1">STT</th>
					<th class="p-1" >Tên dịch vụ</th>
					<th class="p-1 w-25" >Giá (VNĐ)</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let service of medicalServices; let idx = index" class="">
					<td class="text-center align-middle" 
						style="width: 50px">{{idx + 1}}
					</td>
					<td class="p-1 align-middle" *ngIf="service.isActive"
						style="font-size: 1rem;">{{service.mServiceName}}
					</td>
					<td class="p-1 align-middle text-danger" *ngIf="!service.isActive"
					style="font-size: 1rem;">{{service.mServiceName}}
					</td>
					<td class="p-1 align-middle d-flex" >
						<div 	*ngIf="!service.update"
								class="w-100 d-flex align-items-center flex-row-reverse">{{service.price | mask: 'separator':'.'}}</div>
						<input 	(keyup.enter)="updateMedicalServiceInfo(service)"
								(change)="updatePrice($event.target.value, service)" 
								type="number" class="form-control text-right" 
								[hidden]="!service.update" value="{{service.price}}"
								style="height: 40px" min="1000">
						<button mat-icon-button [matMenuTriggerFor]="menu"
								class="border-0 menu-action float-right"
								style="background-color: transparent; top: 0; right: 0;">
						<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item 
								(click)="openModify(service)" 
								*ngIf="!service.update">
								<mat-icon class="text-primary">build</mat-icon>
								<span>Chỉnh giá</span>
							</button>
							<button mat-menu-item 
								(click)="updateMedicalServiceInfo(service)" 
								*ngIf="service.update">
								<mat-icon class="text-info">check_circle</mat-icon>
								<span>Cập nhật</span>
							</button>
							<button mat-menu-item 
								(click)="activeService(service)" 
								*ngIf="!service.isActive">
								<mat-icon class="text-success">check</mat-icon>
								<span>Kích hoạt</span>
							</button>
							<button mat-menu-item 
								(click)="deactiveService(service)" 
								*ngIf="service.isActive">
								<mat-icon class="text-danger">remove_circle</mat-icon>
								<span>Hủy kích hoạt</span>
							</button>
						</mat-menu>								  
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<ngx-spinner
    fullScreen = false
    color = "#fff"
    type = "ball-clip-rotate"
></ngx-spinner>
