<div *ngIf="medicalRecord != null" class="mt-2">
	<label for="InternalMedicineExamination" class="btn btn-info">Nội khoa</label>
	<form [formGroup]="updateForm" #internalMedicineExamination (ngSubmit)="onSubmit()"
		*ngIf="medicalRecord.details.internalMedicineExamination.isRegistered">
		<div class="form-content form-row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="circulatory">Tuần hoàn</label>
					<textarea #circulatory [class.is-invalid]="(isError('circulatory') && isTouched('circulatory'))
					|| (isError('circulatory') && showErrors)" class="form-control" rows="2"
					  formControlName="circulatory"></textarea>
					<div class="invalid-feedback d-block" *ngIf="(isError('circulatory') && isTouched('circulatory'))
					|| (showErrors && isError('circulatory'))">Không được để trống</div>
				  </div>
				  <div class="form-group">
					<label for="circulatoryLevel">Phân loại tuần hoàn</label>
					<input type="number" min="1" min="1" #circulatoryLevel [class.is-invalid]="(isError('circulatoryLevel') && isTouched('circulatoryLevel'))
					|| (isError('circulatoryLevel') && showErrors)" class="form-control" formControlName="circulatoryLevel">
					<span class="invalid-feedback d-block" *ngIf="(hasError('circulatoryLevel', 'required') && isTouched('circulatoryLevel'))
					|| (showErrors && hasError('circulatoryLevel', 'required'))">Không được để trống</span>
					<span class="invalid-feedback d-block" *ngIf="(hasError('circulatoryLevel', 'min') && isTouched('circulatoryLevel'))
					|| (showErrors && hasError('circulatoryLevel', 'min'))">Giá trị nhập không được nhỏ hơn 1</span>
				  </div>
			</div>
	
			<div class="col-sm-6">
				<div class="form-group">
					<label for="respiratory">Hô hấp</label>
					<textarea #respiratory [class.is-invalid]="(isError('respiratory') && isTouched('respiratory'))
					  || (isError('respiratory') && showErrors)" class="form-control" rows="2"
						formControlName="respiratory"></textarea>
					<div class="invalid-feedback d-block" *ngIf="(isError('respiratory') && isTouched('respiratory'))
					  || (showErrors && isError('respiratory'))">Không được để trống</div>
				</div>
				<div class="form-group">
					<label for="respiratoryLevel">Phân loại hô hấp</label>
					<input type="number" min="1" #respiratoryLevel [class.is-invalid]="(isError('respiratoryLevel') && isTouched('respiratoryLevel'))
					  || (isError('respiratoryLevel') && showErrors)" class="form-control" formControlName="respiratoryLevel">
					<span class="invalid-feedback d-block" *ngIf="(hasError('respiratoryLevel', 'required') && isTouched('respiratoryLevel'))
					  || (showErrors && hasError('respiratoryLevel', 'required'))">Không được để trống</span>
					<span class="invalid-feedback d-block" *ngIf="(hasError('respiratoryLevel', 'min') && isTouched('respiratoryLevel'))
					  || (showErrors && hasError('respiratoryLevel', 'min'))">Giá trị nhập không được nhỏ hơn 1</span>
				</div>
			</div>
	
			<div class="col-sm-6">
				<div class="form-group">
					<label for="alimentary">Tiêu hóa</label>
					<textarea #alimentary [class.is-invalid]="(isError('alimentary') && isTouched('alimentary'))
					  || (isError('alimentary') && showErrors)" class="form-control" rows="2" formControlName="alimentary"></textarea>
					<div class="invalid-feedback d-block" *ngIf="(isError('alimentary') && isTouched('alimentary'))
					  || (showErrors && isError('alimentary'))">Không được để trống</div>
				</div>
				<div class="form-group">
					<label for="alimentaryLevel">Phân loại tiêu hóa</label>
					<input type="number" min="1" #alimentaryLevel [class.is-invalid]="(isError('alimentaryLevel') && isTouched('alimentaryLevel'))
					  || (isError('alimentaryLevel') && showErrors)" class="form-control" formControlName="alimentaryLevel">
					<span class="invalid-feedback d-block" *ngIf="(hasError('alimentaryLevel', 'required') && isTouched('alimentaryLevel'))
					  || (showErrors && hasError('alimentaryLevel', 'required'))">Không được để trống</span>
					<span class="invalid-feedback d-block" *ngIf="(hasError('alimentaryLevel', 'min') && isTouched('alimentaryLevel'))
					  || (showErrors && hasError('alimentaryLevel', 'min'))">Giá trị nhập không được nhỏ hơn 1</span>
				</div>
			</div>
	
			<div class="col-sm-6">
				<div class="form-group">
					<label for="nephroUrology">Thận - Tiết niệu</label>
					<textarea #nephroUrology [class.is-invalid]="(isError('nephroUrology') && isTouched('nephroUrology'))
					  || (isError('nephroUrology') && showErrors)" class="form-control" rows="2"
						formControlName="nephroUrology"></textarea>
					<div class="invalid-feedback d-block" *ngIf="(isError('nephroUrology') && isTouched('nephroUrology'))
					  || (showErrors && isError('nephroUrology'))">Không được để trống</div>
				</div>
				<div class="form-group">
					<label for="nephroUrologyLevel">Phân loại Thận - Tiết niệu</label>
					<input type="number" min="1" #nephroUrologyLevel [class.is-invalid]="(isError('nephroUrologyLevel') && isTouched('nephroUrologyLevel'))
					  || (isError('nephroUrologyLevel') && showErrors)" class="form-control" formControlName="nephroUrologyLevel">
					<span class="invalid-feedback d-block" *ngIf="(hasError('nephroUrologyLevel', 'required') && isTouched('nephroUrologyLevel'))
					  || (showErrors && hasError('nephroUrologyLevel', 'required'))">Không được để trống</span>
					<span class="invalid-feedback d-block" *ngIf="(hasError('nephroUrologyLevel', 'min') && isTouched('nephroUrologyLevel'))
					  || (showErrors && hasError('nephroUrologyLevel', 'min'))">Giá trị nhập không được nhỏ hơn 1</span>
				</div>
			</div>
	
			<div class="col-sm-6">
				<div class="form-group">
					<label for="musculoskeletal">Cơ - Xương - Khớp</label>
					<textarea #musculoskeletal [class.is-invalid]="(isError('musculoskeletal') && isTouched('musculoskeletal'))
					  || (isError('musculoskeletal') && showErrors)" class="form-control" rows="2"
						formControlName="musculoskeletal"></textarea>
					<div class="invalid-feedback d-block" *ngIf="(isError('musculoskeletal') && isTouched('musculoskeletal'))
					  || (showErrors && isError('musculoskeletal'))">Không được để trống</div>
				</div>
				<div class="form-group">
					<label for="musculoskeletalLevel">Phân loại Cơ - Xương - Khớp</label>
					<input type="number" min="1" #musculoskeletalLevel [class.is-invalid]="(isError('musculoskeletalLevel') && isTouched('musculoskeletalLevel'))
					  || (isError('musculoskeletalLevel') && showErrors)" class="form-control" formControlName="musculoskeletalLevel">
					<span class="invalid-feedback d-block" *ngIf="(hasError('musculoskeletalLevel', 'required') && isTouched('musculoskeletalLevel'))
					  || (showErrors && hasError('musculoskeletalLevel', 'required'))">Không được để trống</span>
					<span class="invalid-feedback d-block" *ngIf="(hasError('musculoskeletalLevel', 'min') && isTouched('musculoskeletalLevel'))
					  || (showErrors && hasError('musculoskeletalLevel', 'min'))">Giá trị nhập không được nhỏ hơn 1</span>
				</div>
			</div>
		</div>
		<div class=" mt-2 d-flex justify-content-end">
			<button type="submit" class="btn btn-primary mb-5 ">Ghi nội dung</button>
		</div>
	</form>
	<div *ngIf="!this.medicalRecord.details.internalMedicineExamination.isRegistered" class="text-center">
		<h3 class="btn btn-warning">Bệnh nhân không đăng ký khám dịch vụ này</h3>
	</div>
</div>

<div *ngIf="medicalRecord == null" class="text-center">
	<h1 class="text-center mt-5 btn btn-info">Xin mời chọn bệnh án</h1>
</div>

<ngx-spinner fullScreen=false color="#fff" type="ball-clip-rotate">
</ngx-spinner>