<div *ngIf="medicalRecord != null">
	<label for="dermatologyExamination" class="btn btn-info">Chẩn đoán da liễu</label>
	<form [formGroup]="updateForm" #dermatologyExamination (ngSubmit)="onSubmit()"
		*ngIf="this.medicalRecord.details.dermatologyExamination.isRegistered">
		<div class="form-group mt-3">
			<label for="dermatologyExamination">Nội dung chẩn đoán</label>
			<textarea #dermatology [class.is-invalid]="(isError('dermatology') && isTouched('dermatology'))
			|| (isError('dermatology') && showErrors)" class="form-control" rows="3" formControlName="dermatology"></textarea>
			<div class="invalid-feedback d-block" *ngIf="(isError('dermatology') && isTouched('dermatology'))
			|| (showErrors && isError('dermatology'))">Không được để trống</div>
		</div>
		<div class="form-group mt-3">
			<label for="dermatologyLevel">Phân loại</label>
			<input type="number" min="1" #dermatologyLevel [class.is-invalid]="(isError('dermatologyLevel') && isTouched('dermatologyLevel'))
			|| (isError('dermatologyLevel') && showErrors)" class="form-control" formControlName="dermatologyLevel">
			<span class="invalid-feedback d-block" *ngIf="(hasError('dermatologyLevel', 'required') && isTouched('dermatologyLevel'))
			|| (showErrors && hasError('dermatologyLevel', 'required'))">Không được để trống</span>
		  <span class="invalid-feedback d-block" *ngIf="(hasError('dermatologyLevel', 'min') && isTouched('dermatologyLevel'))
			|| (showErrors && hasError('dermatologyLevel', 'min'))">Giá trị nhập không được nhỏ hơn 1</span>
		</div>
		<div class=" mt-2 d-flex justify-content-end">
			<button type="submit" class="btn btn-primary mb-5 ">Ghi nội dung</button>
		</div>
	</form>
	<div *ngIf="!this.medicalRecord.details.dermatologyExamination.isRegistered" class="text-center">
		<h3 class="btn btn-warning">Bệnh nhân không đăng ký khám dịch vụ này</h3>
	</div>
</div>

<div *ngIf="medicalRecord == null" class="text-center">
	<h1 class="text-center mt-5 btn btn-info">Xin mời chọn bệnh án</h1>
</div>

<ngx-spinner fullScreen=false color="#fff" type="ball-clip-rotate">
</ngx-spinner>