<div class="col-md-6 offset-md-3">
  <h3>Choose File</h3>
  <div class="form-group">
    <input type="file" name="image" (change)="fileProgress($event)" />
  </div>
  <div *ngIf="fileUploadProgress">
    Upload progress: {{ fileUploadProgress }}
  </div>
  <div class="image-preview mb-3" *ngIf="previewUrl">
    <img [src]="previewUrl" height="300" />
  </div>

  <div class="mb-3" *ngIf="uploadedFilePath">
    {{uploadedFilePath}}
  </div>

  <div class="form-group">
    <button class="btn btn-primary" (click)="onSubmit()">Upload File</button>
  </div>

</div>

<!-- <form (ngSubmit)="getInfo()"> -->
<form>
  <!-- <label for="comment">Siêu âm bụng</label>
    <textarea class="form-control" rows="5"></textarea> -->
  <div class="form-group mt-3">
    <label for="comment">Siêu âm tuyến vú</label>
    <textarea class="form-control" rows="5"></textarea>

  </div>
  <div class=" mt-2 d-flex justify-content-end">
    <button type="submit " class="btn btn-primary">Submit</button>
  </div>

  <div class="form-group mt-3">
    <label for="comment">Thăm dò tim mạch</label>
    <textarea class="form-control" rows="5"></textarea>
  </div>
  <div class=" mt-2 d-flex justify-content-end">
    <button type="submit" class="btn btn-primary mb-5 ">Submit</button>
  </div>

  <div class="form-group mt-3">
    <label for="comment">Siêu âm tuyến giáp</label>
    <textarea class="form-control" rows="5"></textarea>
  </div>
  <div class=" mt-2 d-flex justify-content-end">
    <button type="submit" class="btn btn-primary mb-5 ">Submit</button>
  </div>


  <div class="form-group mt-3">
    <label for="comment">Xquang ngực</label>
    <textarea class="form-control" rows="5"></textarea>
  </div>
  <div class=" mt-2 d-flex justify-content-end">
    <button type="submit" class="btn btn-primary mb-5 ">Submit</button>
  </div>




  <div class="form-group mt-3">
    <label for="comment">Chẩn đoán hình ảnh y tế</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
  </div>
  <div class=" mt-2 d-flex justify-content-end">
    <button type="submit" class="btn btn-primary mb-5 ">Submit</button>
  </div>


</form>
