<div *ngIf="medicalRecord != null">
  <label for="sugeryExamination">surgery form (ko biet ten)</label>
  <form [formGroup]="updateForm" #sugeryExamination (ngSubmit)="onSubmit()">

    <div class="form-group mt-3">
      <label for="surgery">surgery</label>
      <textarea #surgery [class.is-invalid]="(isError('surgery') && isTouched('surgery'))
      || (isError('surgery') && showErrors)" class="form-control" rows="3" formControlName="surgery"></textarea>
      <div class="invalid-feedback d-block" *ngIf="(isError('surgery') && isTouched('surgery'))
      || (showErrors && isError('surgery'))">Không được để trống</div>
    </div>

    <div class="form-group mt-3">
      <label for="surgeryLevel">surgery Level</label>
      <input type="number" [class.is-invalid]="(isError('surgeryLevel') && isTouched('surgeryLevel'))
      || (isError('surgeryLevel') && showErrors)" #surgeryLevel class="form-control" formControlName="surgeryLevel">
      <div class="invalid-feedback d-block" *ngIf="(isError('surgeryLevel') && isTouched('surgeryLevel'))
      || (showErrors && isError('surgeryLevel'))">Không được để trống</div>
    </div>

    <div class=" mt-2 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary mb-5 ">Ghi nội dung</button>
    </div>
  </form>
</div>

<div *ngIf="medicalRecord == null" class="text-center">
  <h1 class="text-center mt-5 btn btn-info">Xin mời chọn bệnh án</h1>
</div>

<ngx-spinner fullScreen=false color="#fff" type="ball-clip-rotate">
</ngx-spinner>
